# IPL Matches Analysis using Pandas

## Objective
The objective of this project is to analyze IPL matches dataset and understand information like win percentages of each team, Team with highest wins and related information.

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df=pd.read_csv("ipl.csv")

## Dataset

In [4]:
df.head()

,team1,team2,match_date,toss_winner,toss_decision,winner,player_of_match,venue,city,team1_players,team2_players,season,match_number,match_type,result,result_margin,target_runs,target_overs,super_over
0,Royal Challengers Bangalore,Kolkata Knight Riders,2008-04-18,Royal Challengers Bangalore,field,Kolkata Knight Riders,BB McCullum,M Chinnaswamy Stadium,Bangalore,"R Dravid, W Jaffer, V Kohli, JH Kallis, CL Whi...","SC Ganguly, BB McCullum, RT Ponting, DJ Hussey...",1,1,League,runs,140.0,223.0,20.0,N
1,Kings XI Punjab,Chennai Super Kings,2008-04-19,Chennai Super Kings,bat,Chennai Super Kings,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Chandigarh,"K Goel, JR Hopes, KC Sangakkara, Yuvraj Singh,...","PA Patel, ML Hayden, MEK Hussey, MS Dhoni, SK ...",1,2,League,runs,33.0,241.0,20.0,N
2,Delhi Daredevils,Rajasthan Royals,2008-04-19,Rajasthan Royals,bat,Delhi Daredevils,MF Maharoof,Feroz Shah Kotla,Delhi,"G Gambhir, V Sehwag, S Dhawan, MK Tiwary, KD K...","T Kohli, YK Pathan, SR Watson, M Kaif, DS Lehm...",1,3,League,wickets,9.0,130.0,20.0,N
3,Mumbai Indians,Royal Challengers Bangalore,2008-04-20,Mumbai Indians,bat,Royal Challengers Bangalore,MV Boucher,Wankhede Stadium,Mumbai,"L Ronchi, ST Jayasuriya, DJ Thornely, RV Uthap...","S Chanderpaul, R Dravid, LRPL Taylor, JH Kalli...",1,4,League,wickets,5.0,166.0,20.0,N
4,Kolkata Knight Riders,Deccan Chargers,2008-04-20,Deccan Chargers,bat,Kolkata Knight Riders,DJ Hussey,Eden Gardens,Kolkata,"WP Saha, BB McCullum, RT Ponting, SC Ganguly, ...","AC Gilchrist, Y Venugopal Rao, VVS Laxman, A S...",1,5,League,wickets,5.0,111.0,20.0,N

In [5]:
df.shape

(1169, 19)

In [6]:
df.columns

Index(['team1', 'team2', 'match_date', 'toss_winner', 'toss_decision',
       'winner', 'player_of_match', 'venue', 'city', 'team1_players',
       'team2_players', 'season', 'match_number', 'match_type', 'result',
       'result_margin', 'target_runs', 'target_overs', 'super_over'],
      dtype='object')

## Data Handling
Handling the empty values and replacing them to avoid Confusion.

In [7]:
df.isnull().sum()

team1               0
team2               0
match_date          0
toss_winner         0
toss_decision       0
winner             23
player_of_match     0
venue               0
city               51
team1_players       0
team2_players       0
season              0
match_number        0
match_type          0
result              0
result_margin      23
target_runs         6
target_overs        6
super_over          0
dtype: int64

In [8]:
df['city']=df['city'].fillna(df['city'].mode()[0])

In [9]:
df['winner']=df['winner'].fillna('tie')

In [10]:
df.isnull().sum()

team1               0
team2               0
match_date          0
toss_winner         0
toss_decision       0
winner              0
player_of_match     0
venue               0
city                0
team1_players       0
team2_players       0
season              0
match_number        0
match_type          0
result              0
result_margin      23
target_runs         6
target_overs        6
super_over          0
dtype: int64

In [11]:
df.groupby('season')['match_number'].count().reset_index().rename(columns={'match_number':'count'})

    season  count
0        1     58
1        2     57
2        3     60
3        4     73
4        5     74
5        6     76
6        7     60
7        8     59
8        9     60
9       10     59
10      11     60
11      12     60
12      13     60
13      14     60
14      15     74
15      16     74
16      17     71
17      18     74

## Match Outcomes

In [12]:
df.groupby('result')['match_number'].count().reset_index().rename(columns={'match_number':'count'})

      result  count
0  abandoned      1
1  no result      7
2       runs    531
3        tie     15
4    wickets    615

In [13]:
df[df['result']=='wickets']['match_number'].count()

np.int64(615)

In [14]:
(df[df['result']=='wickets']['match_number'].shape[0]/df.shape[0])*100

52.609067579127455

## Team Performances

In [32]:
df.groupby('winner')['match_number'].count().reset_index().rename(columns={'match_number':'count'}).sort_values(['count'],ascending=False).head(5)

                         winner  count
10               Mumbai Indians    151
0           Chennai Super Kings    142
8         Kolkata Knight Riders    135
16  Royal Challengers Bangalore    114
13             Rajasthan Royals    114

In [16]:
df.groupby('winner')['match_number'].count().reset_index().rename(columns={'match_number':'count'})

                         winner  count
0           Chennai Super Kings    142
1               Deccan Chargers     29
2                Delhi Capitals     51
3              Delhi Daredevils     67
4                 Gujarat Lions     13
5                Gujarat Titans     37
6               Kings XI Punjab     85
7          Kochi Tuskers Kerala      6
8         Kolkata Knight Riders    135
9          Lucknow Super Giants     30
10               Mumbai Indians    151
11                Pune Warriors     12
12                 Punjab Kings     34
13             Rajasthan Royals    114
14       Rising Pune Supergiant     10
15      Rising Pune Supergiants      5
16  Royal Challengers Bangalore    114
17  Royal Challengers Bengaluru     18
18          Sunrisers Hyderabad     93
19                          tie     23

In [17]:
((df.groupby('winner')['match_number'].count()/df.shape[0])*100).reset_index().rename(columns={'match_number':'win_percentage'})

                         winner  win_percentage
0           Chennai Super Kings       12.147134
1               Deccan Chargers        2.480753
2                Delhi Capitals        4.362703
3              Delhi Daredevils        5.731394
4                 Gujarat Lions        1.112062
5                Gujarat Titans        3.165098
6               Kings XI Punjab        7.271172
7          Kochi Tuskers Kerala        0.513259
8         Kolkata Knight Riders       11.548332
9          Lucknow Super Giants        2.566296
10               Mumbai Indians       12.917023
11                Pune Warriors        1.026518
12                 Punjab Kings        2.908469
13             Rajasthan Royals        9.751925
14       Rising Pune Supergiant        0.855432
15      Rising Pune Supergiants        0.427716
16  Royal Challengers Bangalore        9.751925
17  Royal Challengers Bengaluru        1.539778
18          Sunrisers Hyderabad        7.955518
19                          tie        1.967494

## Toss Analysis

In [18]:
df[df['toss_winner']==df['winner']]['match_number'].count()

np.int64(591)

In [19]:
df[df['toss_winner']==df['winner']]

,team1,team2,match_date,toss_winner,toss_decision,winner,player_of_match,venue,city,team1_players,team2_players,season,match_number,match_type,result,result_margin,target_runs,target_overs,super_over
1,Kings XI Punjab,Chennai Super Kings,2008-04-19,Chennai Super Kings,bat,Chennai Super Kings,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Chandigarh,"K Goel, JR Hopes, KC Sangakkara, Yuvraj Singh,...","PA Patel, ML Hayden, MEK Hussey, MS Dhoni, SK ...",1,2,League,runs,33.0,241.0,20.0,N
8,Deccan Chargers,Rajasthan Royals,2008-04-24,Rajasthan Royals,field,Rajasthan Royals,YK Pathan,"Rajiv Gandhi International Stadium, Uppal",Hyderabad,"AC Gilchrist, VVS Laxman, Shahid Afridi, A Sym...","Kamran Akmal, GC Smith, YK Pathan, SR Watson, ...",1,9,League,wickets,3.0,215.0,20.0,N
11,Royal Challengers Bangalore,Rajasthan Royals,2008-04-26,Rajasthan Royals,field,Rajasthan Royals,SR Watson,M Chinnaswamy Stadium,Bangalore,"S Chanderpaul, R Dravid, LRPL Taylor, JH Kalli...","GC Smith, M Rawat, YK Pathan, SR Watson, M Kai...",1,12,League,wickets,9.0,148.0,20.0,N
12,Mumbai Indians,Deccan Chargers,2008-04-27,Deccan Chargers,field,Deccan Chargers,AC Gilchrist,Dr DY Patil Sports Academy,Mumbai,"L Ronchi, ST Jayasuriya, AM Rahane, RV Uthappa...","AC Gilchrist, VVS Laxman, A Symonds, RG Sharma...",1,13,League,wickets,10.0,155.0,20.0,N
14,Royal Challengers Bangalore,Chennai Super Kings,2008-04-28,Chennai Super Kings,bat,Chennai Super Kings,MS Dhoni,M Chinnaswamy Stadium,Bangalore,"B Chipli, W Jaffer, LRPL Taylor, JH Kallis, MV...","PA Patel, ML Hayden, MEK Hussey, SK Raina, MS ...",1,15,League,runs,13.0,179.0,20.0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1163,Mumbai Indians,Punjab Kings,2025-05-26,Punjab Kings,field,Punjab Kings,JP Inglis,"Sawai Mansingh Stadium, Jaipur",Jaipur,"Ashwani Kumar, RD Rickelton, RG Sharma, SA Yad...","Vijaykumar Vyshak, Priyansh Arya, P Simran Sin...",18,69,League,wickets,7.0,185.0,20.0,N
1164,Lucknow Super Giants,Royal Challengers Bengaluru,2025-05-27,Royal Challengers Bengaluru,field,Royal Challengers Bengaluru,JM Sharma,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow,"Akash Singh, MR Marsh, MP Breetzke, RR Pant, N...","Suyash Sharma, PD Salt, V Kohli, RM Patidar, L...",18,70,League,wickets,6.0,228.0,20.0,N
1165,Punjab Kings,Royal Challengers Bengaluru,2025-05-29,Royal Challengers Bengaluru,field,Royal Challengers Bengaluru,Suyash Sharma,Maharaja Yadavindra Singh International Cricke...,New Chandigarh,"Priyansh Arya, P Simran Singh, JP Inglis, SS I...","Suyash Sharma, PD Salt, V Kohli, MA Agarwal, R...",18,71,Qualifier 1,wickets,8.0,102.0,20.0,N
1166,Mumbai Indians,Gujarat Titans,2025-05-30,Mumbai Indians,bat,Mumbai Indians,RG Sharma,Maharaja Yadavindra Singh International Cricke...,New Chandigarh,"Ashwani Kumar, RG Sharma, JM Bairstow, SA Yada...","Mohammed Siraj, B Sai Sudharsan, Shubman Gill,...",18,72,Eliminator,runs,20.0,229.0,20.0,N
1167,Mumbai Indians,Punjab Kings,2025-06-01,Punjab Kings,field,Punjab Kings,SS Iyer,"Narendra Modi Stadium, Ahmedabad",Ahmedabad,"Ashwani Kumar, RG Sharma, JM Bairstow, Tilak V...","YS Chahal, Priyansh Arya, P Simran Singh, JP I...",18,73,Qualifier 2,wickets,5.0,204.0,20.0,N

In [20]:
(df[df['toss_winner']==df['winner']]['match_number'].count())>(df.shape[0]-df[df['toss_winner']==df['winner']]['match_number'].count())

np.True_

## Venue Analysis

In [21]:
df.groupby('venue')['match_number'].count().reset_index().rename(columns={'match_number':'count'})

                                                venue  count
0                                Arun Jaitley Stadium     14
1                         Arun Jaitley Stadium, Delhi     23
2                                    Barabati Stadium      7
3                 Barsapara Cricket Stadium, Guwahati      5
4   Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...     22
5                                   Brabourne Stadium     10
6                           Brabourne Stadium, Mumbai     17
7                                        Buffalo Park      3
8                               De Beers Diamond Oval      3
9                          Dr DY Patil Sports Academy     17
10                 Dr DY Patil Sports Academy, Mumbai     20
11  Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...     13
12  Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...      4
13                Dubai International Cricket Stadium     46
14                                       Eden Gardens     77
15                              Eden Gardens, Kolkata     23
16                                   Feroz Shah Kotla     60
17                                         Green Park      4
18       Himachal Pradesh Cricket Association Stadium      9
19  Himachal Pradesh Cricket Association Stadium, ...      6
20                             Holkar Cricket Stadium      9
21                 JSCA International Stadium Complex      7
22                                          Kingsmead     15
23                              M Chinnaswamy Stadium     65
24                   M Chinnaswamy Stadium, Bengaluru     19
25                              M.Chinnaswamy Stadium     15
26                             MA Chidambaram Stadium      9
27                    MA Chidambaram Stadium, Chepauk     48
28           MA Chidambaram Stadium, Chepauk, Chennai     34
29  Maharaja Yadavindra Singh International Cricke...     10
30  Maharaja Yadavindra Singh International Cricke...      1
31            Maharashtra Cricket Association Stadium     22
32      Maharashtra Cricket Association Stadium, Pune     13
33                   Narendra Modi Stadium, Ahmedabad     33
34                                      Nehru Stadium      5
35                              New Wanderers Stadium      8
36                                           Newlands      7
37                                    OUTsurance Oval      2
38       Punjab Cricket Association IS Bindra Stadium     10
39  Punjab Cricket Association IS Bindra Stadium, ...     11
40  Punjab Cricket Association IS Bindra Stadium, ...      5
41         Punjab Cricket Association Stadium, Mohali     35
42                 Rajiv Gandhi International Stadium     15
43          Rajiv Gandhi International Stadium, Uppal     49
44  Rajiv Gandhi International Stadium, Uppal, Hyd...     19
45                       Sardar Patel Stadium, Motera     12
46             Saurashtra Cricket Association Stadium     10
47                             Sawai Mansingh Stadium     47
48                     Sawai Mansingh Stadium, Jaipur     17
49   Shaheed Veer Narayan Singh International Stadium      6
50                            Sharjah Cricket Stadium     28
51                               Sheikh Zayed Stadium     29
52                                   St George's Park      7
53                         Subrata Roy Sahara Stadium     16
54                                    SuperSport Park     12
55       Vidarbha Cricket Association Stadium, Jamtha      3
56                                   Wankhede Stadium     73
57                           Wankhede Stadium, Mumbai     52
58                   Zayed Cricket Stadium, Abu Dhabi      8

In [22]:
df.groupby('venue')['match_number'].count().reset_index().rename(columns={'match_number':'count'}).head(5)

                                               venue  count
0                               Arun Jaitley Stadium     14
1                        Arun Jaitley Stadium, Delhi     23
2                                   Barabati Stadium      7
3                Barsapara Cricket Stadium, Guwahati      5
4  Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...     22

## Season wise Analysis

In [23]:
df.groupby('season')['match_number'].count().reset_index().rename(columns={'match_number':'count'})

    season  count
0        1     58
1        2     57
2        3     60
3        4     73
4        5     74
5        6     76
6        7     60
7        8     59
8        9     60
9       10     59
10      11     60
11      12     60
12      13     60
13      14     60
14      15     74
15      16     74
16      17     71
17      18     74

In [28]:
df.groupby(['season','winner'])['match_number'].count().reset_index().rename(columns={'match_number':'wins'}).sort_values(['season','wins'],ascending=[True,False]).groupby('season').head(1)

     season                       winner  wins
6         1             Rajasthan Royals    13
10        2             Delhi Daredevils    10
22        3               Mumbai Indians    11
26        4          Chennai Super Kings    11
41        5        Kolkata Knight Riders    12
50        6               Mumbai Indians    13
58        7              Kings XI Punjab    12
65        8          Chennai Super Kings    10
81        9          Sunrisers Hyderabad    11
86       10               Mumbai Indians    11
91       11          Chennai Super Kings    11
99       12          Chennai Super Kings    10
112      13               Mumbai Indians    11
117      14          Chennai Super Kings    11
128      15               Gujarat Titans    12
138      16               Gujarat Titans    11
150      17        Kolkata Knight Riders    11
165      18  Royal Challengers Bengaluru    11

In [29]:
df.groupby(['season','toss_decision'])['match_number'].count().reset_index().rename(columns={'match_number':'decision'}).sort_values(['season','decision'],ascending=[True,False]).groupby('season').head(1)

    season toss_decision  decision
1        1         field        32
2        2           bat        35
4        3           bat        39
7        4         field        48
8        5           bat        37
10       6           bat        45
13       7         field        41
15       8         field        34
17       9         field        49
19      10         field        48
21      11         field        50
23      12         field        50
25      13         field        33
27      14         field        44
29      15         field        59
31      16         field        53
33      17         field        52
35      18         field        60

## KEY INSIGHTS
-Chasing team wins more often than defending team                                                                                                      
-Toss_decision trend over the past few seasons shows that toss_winning team chooses to field.Some teams Dominate some seasons